/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/972490000929284156/1216792304455782481/IMG_7871.jpg?ex=66c17f64&is=66c02de4&hm=6ca67f9418834b29dd0d3c0c2bd067944c1d914ba8747ce02bfd83fa98294381&');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

h1 {
    background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent background */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

p {
    font-size: 18px;
    margin: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10px;
    border-radius: 10px;
}

a {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent background */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: rgba(69, 160, 73, 0.8); /* Slightly darker on hover */
}
